<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Dave & Darmi">
    <title>Top Gear || Home</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../static/assets/fontawesome-free-5.12.1-web/css/all.min.css"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles_pro.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/main_body.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/footer.css">
  </head>
  <body>
    <!-- navbar -->
<nav class="nav" id="nav">
<div class="nav-center" id="nav-center">
  <!-- nav header -->
  <div class="nav-header" id="nav-header">
    <img src="../static/assets/images/logo.png" class="nav-logo" alt="logo">
    <button class="nav-btn" id="nav-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <!-- nav link -->
  <ul class="nav-links">
    <li>
      <a href="index.html">home</a>
    </li>
    <li>
      <a href="product.html">product</a>
    </li>
    <li>
      <a href="about.html">about</a>
    </li>
    <li>
      <a href="contact.html">contact</a>
    </li>
  </ul>
</div>
</nav>
<!-- list of available products -->

<div class="container" id="container">
  <div class="item" id="item">
    <ul class="item-link" id="item-link">
      <li><a href="automobile.html">Automobile_parts</a></li>
      <li><a href="brake.html">Brake</a></li>
      <li><a href="filter.html">Filter</a></li>
      <li><a href="engine.html">Engine_part</a></li>
      <li><a href="tools.html">Tools</a></li>
      <li><a href="accessories.html">Accessories</a></li>
    </ul>
   <!-- product search input  -->

    <div class="Search-form" id="Search-form">
      <input placeholder="Search for vehicle part here?" type="text" class="form-control">
      <button class="btn btn-secondry">Search</button>
    </div>
    <!-- user registery and login format format  -->
    <div class="row" id="row">
      <button class="btn-primary" id="signin">
        <a href="login.html">Login</a>
      </button>
      <button class="btn-primary" id="createacc">
        <a href="register.html">Create Account</a>
    </div>
    </button>
  </div>
</div>
<!-- main body of our product and it's discription  -->
<div class="cont zone blue">
  <h3>TOP GEAR Vehilce Part Sales</h3>
</div>
<div class="cont zone"><img src="../static/assets/images/bg-balloon.jpg"></div>
<div class="cont zone blue">
  <h3>Product Cataloge</h3>
</div>
<div class="zone blue grid-warpper">
  <div class="box zone"><img src="../static/assets/images/item/10530.png"></div>
  <div class="box zone"><img src="../static/assets/images/item/fuel_filter.png"></div>
  <div class="box zone"><img src="../static/assets/images/item/exuast_manifold.png"></div>
  <div class="box zone"><img src="../static/assets/images/item/piston_head.png"></div>
  <div class="box zone"><img src="../static/assets/images/item/tools.png"></div>
  <div class="box zone"><img src="../static/assets/images/item/engine_head.png"></div
  >
    <!-- footer -->
<footer class="zon yellow"> 
  <div class="address" id="address">
    <div class="part" id="part">
      <h5>the web app is design for alx software engineer portfolio project</h5>
    </div>
    <h5>design by Dave & Darmi</h5>
  </div>
  <p>@ ALL right reserved</p>
</footer>

 <!-- java sscript source file -->
  <script src="./js/app.js"></script>
  </body>
 </html>
