<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Top_Gear_Vehicle_Part_Sales</title>
    <link rel="shortcut icon" href="../static/assets/images/fav.png">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>
    <div class="container-fluid bg-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 login-card">
                    <div class="row">
                        <div class="col-md-5 detail-part">
                            <h1>Welcome To Top Gear Vehicle Part Sale</h1>
                        </div>
                        <div class="col-md-7 logn-part">
                          <div class="row">
                              <div class="col-lg-10 col-md-12 mx-auto">
                                  <div class="logo-cover">
                                       <img src="../static/assets/images/logo.png" alt="">
                                   </div>
                                    <div class="form-cover">
                                        <h6>Login Here</h6>
                                         <input placeholder="Ente Your Username" type="text" class="form-control">
                                         <input Placeholder="Enter Your Password" type="password" class="form-control">
                                         <div class="row form-footer">
                                             <div class="col-md-6 forget-paswd">
                                                 <a href="">Forget Password ?</a>  
                                             </div>
                                             <div class="col-md-6 button-div">
                                                 <button class="btn btn-primary">Login</button>
                                             </div>
                                             <div class="col-md-6 button-div2">
                                                <button class="btn btn-primary"><a href="register.html">Create Account</a></button>
                                             </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                           
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</html>