<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Dave & Darmi">
    <title>Top Gear || Register</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="../static/assets/fontawesome-free-5.12.1-web/css/all.min.css"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles_pro.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/main_body.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/footer.css">
  </head>
  <body>
    <!-- navbar -->
<nav class="nav" id="nav">
<div class="nav-center" id="nav-center">
  <!-- nav header -->
  <div class="nav-header" id="nav-header">
    <img src="../static/assets/images/logo.png" class="nav-logo" alt="logo">
    <button class="nav-btn" id="nav-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <!-- nav link -->
  <ul class="nav-links">
    <li>
      <a href="index.html">home</a>
    </li>
    <li>
      <a href="product.html">product</a>
    </li>
    <li>
      <a href="about.html">about</a>
    </li>
    <li>
      <a href="contact.html">contact</a>
    </li>
  </ul>
</div>
</nav>
<div class="container" id="container">
  <div class="item" id="item">
    <ul class="item-link" id="item-link">
      <li><a href="automobile.html">Automobile_parts</a></li>
      <li><a href="brake.html">Brake</a></li>
      <li><a href="filter.html">Filter</a></li>
      <li><a href="engine.html">Engine_part</a></li>
      <li><a href="tools.html">Tools</a></li>
      <li><a href="accessories.html">Accessories</a></li>
    </ul>
    <div class="Search-form" id="Search-form">
      <input placeholder="Search for vehicle part" type="text" class="form-control">
      <button class="btn btn-secondry">Search</button>
    </div>

    <div class="row" id="row">
      <button class="btn-primary" id="signin">
        <a href="login.html">Login</a>
      </button>
      <button class="btn-primary" id="createacc">
        <a href="register.html">Create Account</a>
    </div>
    </button>
  </div>
</div>


<div class="contain blue zone">
  <form class="signup">
    <div class="name-sec" id="name-sec">
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Enter Your Full Name" name="name">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Enter Your email" name="email">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="passwd" class="form-control" id="passwd" placeholder="Enter password" name="passwd">
      </div>
    </div>
    <div class="ro">
      <div class="signup" id="signup">
        <button class="btn btn-secondry">Sign Up</button>
      </div>
    </div>
  </div>
  </form>
</div>
<footer class="zon yellow"> 
  <div class="address" id="address">
    <div class="part" id="part">
      <h5>the web app is design for alx software engineer portfolio project</h5>
    </div>
    <h5>design by Dave & Darmi</h5>
  </div>
</footer>
  </body>
</html>